In [5]:
import numpy as np
import pandas as pd
import transbigdata as tbd
import os

In [3]:
bounds = [121.4,31.15,122.0,31.3]
#bounds = [121.0, 31.0, 122.0, 32.0]
params = tbd.area_to_params(bounds, accuracy=500, method='rect')

In [8]:
path = 'bus_vehicleNum/'  # 文件夹目录
files = os.listdir(path)  # 得到文件夹下的所有文件名称

In [23]:
i= 0
filename = []
for file in files:  # 遍历文件夹
    if not os.path.isdir(file):  # 判断是否是文件夹，不是文件夹才打开
        if file[0:5] == "01S0D":
            data = pd.read_csv( path + file)
            if data.shape[0] > 3000 :
                i+=1
                filename.append(file)
filename

['01S0D004.txt',
 '01S0D015.txt',
 '01S0D016.txt',
 '01S0D017.txt',
 '01S0D018.txt',
 '01S0D019.txt',
 '01S0D034.txt',
 '01S0D036.txt',
 '01S0D037.txt',
 '01S0D038.txt',
 '01S0D039.txt',
 '01S0D040.txt',
 '01S0D041.txt',
 '01S0D042.txt',
 '01S0D044.txt',
 '01S0D045.txt',
 '01S0D046.txt',
 '01S0D047.txt',
 '01S0D048.txt',
 '01S0D049.txt',
 '01S0D050.txt',
 '01S0D051.txt',
 '01S0D097.txt',
 '01S0D103.txt',
 '01S0D105.txt',
 '01S0D106.txt',
 '01S0D108.txt',
 '01S0D109.txt',
 '01S0D110.txt',
 '01S0D192.txt',
 '01S0D194.txt']

In [30]:
dataframe = pd.DataFrame(filename)
dataframe

               0
0   01S0D004.txt
1   01S0D015.txt
2   01S0D016.txt
3   01S0D017.txt
4   01S0D018.txt
5   01S0D019.txt
6   01S0D034.txt
7   01S0D036.txt
8   01S0D037.txt
9   01S0D038.txt
10  01S0D039.txt
11  01S0D040.txt
12  01S0D041.txt
13  01S0D042.txt
14  01S0D044.txt
15  01S0D045.txt
16  01S0D046.txt
17  01S0D047.txt
18  01S0D048.txt
19  01S0D049.txt
20  01S0D050.txt
21  01S0D051.txt
22  01S0D097.txt
23  01S0D103.txt
24  01S0D105.txt
25  01S0D106.txt
26  01S0D108.txt
27  01S0D109.txt
28  01S0D110.txt
29  01S0D192.txt
30  01S0D194.txt

In [40]:
dataframe.to_csv("select",sep = ',',index=False,header=None)
f = pd.read_csv("select",header=None)
f

               0
0   01S0D004.txt
1   01S0D015.txt
2   01S0D016.txt
3   01S0D017.txt
4   01S0D018.txt
5   01S0D019.txt
6   01S0D034.txt
7   01S0D036.txt
8   01S0D037.txt
9   01S0D038.txt
10  01S0D039.txt
11  01S0D040.txt
12  01S0D041.txt
13  01S0D042.txt
14  01S0D044.txt
15  01S0D045.txt
16  01S0D046.txt
17  01S0D047.txt
18  01S0D048.txt
19  01S0D049.txt
20  01S0D050.txt
21  01S0D051.txt
22  01S0D097.txt
23  01S0D103.txt
24  01S0D105.txt
25  01S0D106.txt
26  01S0D108.txt
27  01S0D109.txt
28  01S0D110.txt
29  01S0D192.txt
30  01S0D194.txt

In [ ]:
f